input {
    flex-grow: 1;
    padding: 1rem;
    border: 0.05rem solid #bababa;
    border-radius: 0.5rem;
    outline: none;
    font-size: 1rem;
}

.input {
    display: flex;
    gap: 1rem
}

.warning {
    border: 0.05rem solid #ED5252;
}