.superhero-card {
    transition: border 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 15rem;
    height: 34rem;
    border-radius: 1rem;
    border: 6px solid white;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.superhero-card:hover {
    border: 6px solid rgb(255, 213, 0);
}

.superhero-nickname {
    font-weight: 600;
    font-size: 2.25rem;
    color: white;
}

.superhero-image {
    width: 100%;
}