.card {
    flex: 1;
}

.superhero-card {
    transition: border 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 34rem;
    border-radius: 1rem;
    border: 6px solid white;
    background-position: center;
    background-size: cover;
}

.superhero-card:hover {
    border: 6px solid rgb(255, 213, 0);
}

.superhero-card .superhero-nickname {
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 2.25rem;
    text-align: center;
    color: white;
}

.superhero-image {
    width: 100%;
}