button {
    transition: background-color 0.3s ease-in-out;
    padding: 1rem;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: medium;
    cursor: pointer;
}

button.secondary {
    background-color: white;
    color: #29abe2;
}

button.secondary:hover {
    background-color: #d3d3d3;
}

.button-icon {
    margin-right: 1rem;
}